---
layout: default
title: Archive
---

<div class="header-bar">
  <h1>*Archive</h1>
  <h2>My posting history</h2>
  <br/>
  <hr>
  <br/>
</div>

<div id="archive">
	{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
	{% for year in postsByYear %}
  <div class="archive-group">
	  <h2>{{ year.name }}</h2>
      {% for post in year.items %}
        <div class="archive-item">
          <div class="date">{{ post.date | date: '%b %d'}}</div>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
  </div>
	{% endfor %}
</div>
