---
layout: default
title: Categories
---

<div class="header-bar">
  <div class="title">*categories</div>
  <div class="description">&nbsp;</div>
  <br/>
  <hr>
  <br/>
</div>

<div id="archive">
  {% for category in site.categories %}
  <div class="archive-group">
    <h2>{{ category | first }}</h2>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.first[0] == null %}
        {% else %}
          <div class="archive-item">
            <div class="date">{{ post.date | date: '%b %d'}}</div>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
