---
layout: default
---

<div class="header-bar">
  <div class="title">*hanjack</div>
  <div class="description">EXPERIENTIA DOCET</div>
  <br/>
  <hr>
  <br/>
</div>

<div class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p class="post-meta">{{ post.description }}</p>
        <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        <p class="post-meta">{% include post_tags.html %}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</div>
