<header class="site-header">

  <div class="wrapper">
    <div class="site-title" ><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
    <div class="site-description"><a href="about.html">{{ site.description }}</a></div>

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>

        {% for page in site.pages %}
          {% if page.title %}
            {% if page.title != "search" %}
              {% if forloop.index != 1 %}
              |
              {% endif %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>&nbsp;
            {% endif %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="{{ site.baseurl }}/search.html">
          <img src="{{ site.baseurl }}/img/search.svg" type="image/svg+xml" width="14" height="14" />
        </a>
      </div>
    </nav>
  </div> 

</header>
