---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="post-title"><p>{{ page.title }}</p></div>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">{% include post_tags.html %}</p>
    <br/>
    <hr/>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include share.html %}
  {% include comments.html %}
</div>
